// COLORS

$dark_blue: #011638;
$light_blue: #118AB2;
$gray_blue: #6B818C;
$purple: #67597A;
$teal: #08415C;
$black: #000;
$white: #F3F7F6;
$background: #F3F7F6;
$pink: #B4313F;

// FONT
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700|Titillium+Web:300,400,700');

$poppins: 'Poppins', sans-serif;   
$titilium: 'Titillium Web', sans-serif;

// SCREEN SIZE